<h2>Nový nápad</h2>

<app-idea-form [idea]="idea" (ideaSubmitted)="newIdea($event)"></app-idea-form>

<hr/>

<accordion [closeOthers]="true">
  <accordion-panel *ngFor="let idea of ideas" [heading]="idea.name">
    <alert type="warning" *ngIf="idea.timesHeardAbout">Už byl viděn {{idea.timesHeardAbout}} krát.</alert>

    {{idea.description}}

    <hr/>
    <button class="btn btn-info" type="button" (click)="editIdea(idea)">Upravit</button>
  </accordion-panel>
</accordion>
