<div class="well">
  <form (ngSubmit)="ideaForm.valid && submitForm(ideaForm, idea)" #ideaForm="ngForm">
    <div class="form-group">
      <label for="name">Název</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Název"
             [(ngModel)]="idea.name" required #name="ngModel">
    </div>

    <alert type="danger"
           *ngIf="name.hasError('required') && (name.touched || ideaForm.submitted)">
      Musíte zadat jméno
    </alert>

    <div class="form-group">
      <label for="description">Popis</label>
      <textarea class="form-control" id="description" placeholder="Popis" rows="3" name="description"
                [(ngModel)]="idea.description"></textarea>
    </div>

    <app-counter [(count)]="idea.timesHeardAbout"></app-counter>

    <hr/>
    <button class="btn btn-default btn-success">Uložit</button>
  </form>
</div>
